[2015-12-23 13:32] prasadtalasila opened #1 "time field in json file"
When you update imap_hdr.py, also save the email received time as one of the fields into the json file. The time should be stored in UTC format in json file. You can use Date mail header field to extract the time of email generation. An example

Date: Tue, 22 Dec 2015 17:34:03 +0530
You have to add another line after line#74 of imap_hdr.py; a typical line could be

data['Time'] = dateToUTC(origina

[2015-12-26 19:46] achyudh commented on #1
Please check commit 9cabbf7. I request you to close the issue if it has been resolved,

[2015-12-28 06:03] prasadtalasila commented on #1
timezone problem solved.

[2015-12-28 06:03] #1 closed, assigned to achyudh

[2015-12-28 06:50] prasadtalasila opened #2 "Problems in development branch"
The following issues have been observed in the latest commit of the latest commit on development branch (9cabbf7).

1) The Message-ID in  headers.json and clean_data.json starts at 2001. This is supposed to start at 0.
2) cross-checking of synchronization between Gmail Inbox and *.json files (json files should only be appended).
3) fetch_headers.py missing.
4) proposed structure for code base

[2015-12-28 07:05] prasadtalasila opened #3 "Graphs from json files"
The graphs to be generated from json files in three different formats, namely GEXF, dot format and png files. These files can be saved in the directory structure at the following places.
   data/graphs/gexf
   data/graphs/dot
  data/graphs/png

Each graph file can be named with the Message-ID of the starting mail of the discussion thread.

[2015-12-28 08:16] prasadtalasila commented on #2
directory structure added to the repository

[2015-12-28 12:56] achyudh commented on #2
Please check if commit d8d090d addresses points (2) and (3) of this issue. If this is not the case I request you to elaborate.

[2015-12-28 21:23] achyudh commented on #2
Please check if commit 7aaa737 addresses points (1) and (4). If yes, I request you to close this issue. I feel that code could preferably be stored in the root directory of the repo. Directory structure for data is suitable to the project's workflow.

[2015-12-29 08:46] prasadtalasila commented on #2
A few issues are still remaining.
1) python script files must move to "code/" and the scripts must be updated to reflect the new directory structure.
2) json files in the top directory can be deleted
    headers.json and clean_headers.json
3) move threadPaths.txt to right location (location to be decided by you)
4) thread_graph_nx.py already in code/util; hence can be deleted from top directory

T

[2015-12-29 16:06] achyudh commented on #2
Commit c8d0a3a takes care of issues 1, 2, and 4. As of now "threadPaths.txt" has not been generated for the latest data. As soon as its role in the project is determined, I plan on updating the file. Also, I think the name is very deceptive as this file is supposed to contain the leaf nodes of the discussion thread graphs.

[2015-12-30 06:51] prasadtalasila commented on #2
development branched merged into master

[2015-12-30 07:03] prasadtalasila commented on #2
The file paths in python scripts need to be updated. See http://stackoverflow.com/questions/918154/relative-paths-in-python
for a way of writing portable code

[2015-12-30 07:13] achyudh commented on #2
Please consider the fact that changing the file paths beats the purpose of separating data from the actual code. An unwanted call to any of the functions can change or rewrite the JSON files for the worse and would consume our time in an unwanted manner. I the past I had to repeatedly use Git revert and in cases where I had uncommitted changes, I had to undo this operation manually by hand.

[2015-12-30 08:49] #2 closed, assigned to achyudh

[2015-12-30 12:55] prasadtalasila opened #4 "json sync with inbox"
The mail headers upto uid 88406 have been synced into development repository. Once these are verified, the development branch can be merged with master. You can proceed with this merger.

[2015-12-30 13:09] prasadtalasila opened #5 "uid cross checks in imap_hdr.py"
The following issues exist with get_mail_header() method.
1) method still fetching from to_get[0] to \* (line#92 of imap_hdr.py).
2) In case get_mail_header() gets called with future uid numbers, the method should indicate last valid uid and stop the work. Right now, the loop is unnecessarily running inside the method.
3) You have plans to delete invalid data; these deleted mail entries show up as

[2015-12-31 20:00] achyudh commented on #4
I have submitted and approved a pull request for merging development into master.

[2015-12-31 20:03] achyudh commented on #5
All three issues have been resolved in commit ddc4c2e. Please check the commit message for more details. I am closing this issue. Please reopen it in case anything more is required.

[2015-12-31 20:04] #4 closed, assigned to achyudh

[2016-01-02 15:54] #5 closed, assigned to achyudh

[2016-01-02 17:32] achyudh commented on #3
This issue has now been addressed. Please refer commit commit 0be7a26.

[2016-01-02 17:32] #3 closed, assigned to achyudh

[2016-01-06 00:44] prasadtalasila opened #7 "time information in GEXF graphs"
The present GEXF graphs do not have time information to make them dynamic graphs. The Time field of json data can be used to node creation and edge creation. The time in json header can be used to mark the start time of the following.
1) node with current Message-ID
2) The edge between node with current Message-ID and the parent message.

Good references on the time field format:
https://forum.gep

[2016-01-09 07:59] prasadtalasila opened #8 "Color coding graphs"
There is some advantage to color coding the graph vertices based on the author. The motivation is to see the number of people participating in the thread. A set of standard colors can be picked for assignment and the set can be used across all threads.

All authors of a thread are identified and each author is given a unique color. All messages sent by this author get the same color. In the graphs

[2016-01-12 12:09] prasadtalasila opened #9 "width-height table"
Generation of
![width-height-table](https://cloud.githubusercontent.com/assets/9206466/12263189/231c117a-b953-11e5-9486-fed468e06400.png)

This table provides an aggregate statistical view of all the discussion threads. The number of children is the maximum number of children in any generation of a discussion thread.

This table generation can be automated by counting the maximum number of a certa

[2016-01-12 13:11] prasadtalasila commented on #7
Please close this issue after committing the corresponding code to the repository.

[2016-01-12 13:26] prasadtalasila opened #10 "Bipartite graphs"
A bipartite graph among all the users and messages. All the users (From, To, CC, BCC fields) will be on one side and all the messages will be on another. A directed arrow would be drawn from user to the message sent by the user. A directed arrow would be drawn from message to all the users who are in To, CC and BCC fields.

NetworkX can take this bipartite graph and generate a projected graph of u

[2016-01-12 14:07] prasadtalasila opened #11 "Thread growth rate"
A possible way to look at the thread growth rate is to fill the following table.

![thread-growth-rate](https://cloud.githubusercontent.com/assets/9206466/12265582/d20841da-b963-11e5-996d-c6ab3b2f8844.png)

[2016-01-13 21:14] #8 closed, assigned to achyudh

[2016-01-13 21:17] achyudh commented on #8
Graphs have now been color coded based on a set of contrasting colors. The commit currently being pushed would solve this issue.

[2016-01-13 21:17] #7 closed, assigned to achyudh

[2016-01-19 12:53] achyudh commented on #9
I kindly request you to check commit 8a703f7 regarding the generation of this table. The data/graphs/csv folder contains one version of the width-height table.

[2016-01-22 11:52] prasadtalasila commented on #11
addressed in a different issue

[2016-01-22 11:52] #11 closed, assigned to achyudh

[2016-01-30 23:55] prasadtalasila commented on #9
Good work

[2016-01-30 23:55] #9 closed, assigned to achyudh

[2016-01-31 06:27] prasadtalasila opened #12 "Parameter estimation (curve fitting) of width-height table"
The existing data set size of 62414 sampling points is big enough to make unbiased estimates of mean and error of the observed height frequency distribution in the width-height table. The mean height turns out to be 3.04 and the standard deviation turns out to be 2.63.

Now we need to find a distribution that fits these characteristics.

The method of parameter estimation needs to be explored to f

[2016-01-31 06:38] prasadtalasila opened #13 "Authors graph for a discussion thread with edge labels"
For each discussion thread, the graph of authors can be drawn with the following conventions.
1. Subscribers in the **From**, **To**, **CC**, and **BCC** fields become nodes of the graph.
2. A solid edge is drawn for each email sent **From** node to **To** node.
3. A dotted edge drawn for each email sent **From** node to **CC** node.
4. A dashed edge drawn for each email sent **From** node to **CC

[2016-01-31 07:18] prasadtalasila opened #14 "Authors graph for LKML"
What is the complete authors graph for LKML. The graph plotting conventions are same as those outlined in issue #13. The following are the relevant questions on this graph.
1. Are there any disconnected components in this graph? If so, plot them separately.
2. What are the communities detected by the igraph/networkx? Plotting these using networkx/graphviz would be useful.

[2016-01-31 07:24] prasadtalasila opened #15 "Evolution of author communities in LKML"
The communities for a specific author/subscriber is likely to be based on the interests of the subscriber. It would be interesting to see the evolution of these communities around an author over time. A good way to approach the problem is to pick the top-5 in-degree/out-degree authors separately and track the evolution of the community around each of these authors.

In order to track these ten aut

[2016-01-31 07:56] prasadtalasila commented on #12
Some interesting references in this area are:
Probabilistic Models in the Study of Language, R Levy (http://idiom.ucsd.edu/~rlevy/pmsl_textbook/text.html)
http://nlp.stanford.edu/software/tregex.shtml
Any other relevant software of Stanford NLP group available at http://nlp.stanford.edu/software/

[2016-02-02 07:15] prasadtalasila opened #16 "Author version of width-height table"
A width-height table for author graphs. The conventions of width-height table used in issue #9 can be used.

These graphs tell us the basic conversation structure. Especially, how many 2-way, 3-way, 4-way etc. conversations happen in a discussion thread.

The format of the table can be as follows.
![image](https://cloud.githubusercontent.com/assets/9206466/12780362/7f4382de-ca93-11e5-8f84-ea872beb

[2016-02-02 07:24] prasadtalasila opened #17 "Conversation group size"
The number of participants (authors) taking part in a conversation is can be deduced from a two column table.
![image](https://cloud.githubusercontent.com/assets/9206466/12742470/0f3634a6-c9ac-11e5-949a-9968d284357a.png)

[2016-02-02 12:20] prasadtalasila commented on #14
How many weakly connected components exist? List the authors who are part of these weakly connected components.

[2016-02-03 11:02] prasadtalasila opened #18 "Summary on community detection"
A working summary of community detection algorithms, specifically Louvain and Infomaps

[2016-02-04 15:56] achyudh commented on #17
I kindly request you to check commit d4cb639.
The data/graphs/csv folder contains the required table as a CSV file. The table can be interpreted as follows: The first row (1,4995) implies that 4995 authors have participated in a thread with just one node (i.e. no replies), the second row (2,4983) implies that 4983 authors have participated in a thread with two nodes and so on.

[2016-02-04 15:56] #17 closed, assigned to achyudh

[2016-02-04 15:56] achyudh commented on #10
I kindly request you to check commit d4cb639.

[2016-02-04 15:57] achyudh commented on #13
I kindly request you to check commit d4cb639.  The generation of such a large connected graph as a PNG would be not possible with current resources. However, the analysis of the graph is possible given the various formats NetworkX supports for export.

[2016-02-07 18:00] achyudh commented on #17
The formatting of the participant-size graph has changed to reflect the average number of authors in a thread.
![image](https://cloud.githubusercontent.com/assets/7617287/12874041/482868c0-cdf2-11e5-90dc-56c76271609d.png)
The first row (1, 4995, 4995, 1) implies that 4995 authors have participated in a thread with just one node (i.e. no replies), there are 4995 such threads and hence an average of

[2016-02-07 20:11] achyudh commented on #16
Commit fceeb1e addresses this issue. Please find the generated table in the "data/graphs/csv" folder.

[2016-02-10 13:46] prasadtalasila commented on #13
As per our discussion, one author graph is to be generated for each discussion thread. Apart from the previous graph conventions, the following conventions may help clarify the author communication patterns.
1. Edges colors can depend on the height of the message. Same set of high contrast colors can be reused for coloring the author graph of each discussion thread independently.
2. Each additiona

[2016-02-10 13:47] prasadtalasila opened #19 "Motifs from graph-tool"
The motifs generated from graph-tool should either confirm or negate the statistical conclusions from the discussion width-height table.

[2016-02-10 13:51] prasadtalasila opened #20 "Decaying factor for a relationship"
So far we have been trying to create relationships between authors who send email messages to each other. It may also be true that authors who are not in touch with each other would lose their relationship.

What is a systematic approach to determining the decaying factor for a relationship? In common terms, how much of time would elapse before two neighboring subscribers become strangers to each

[2016-02-13 06:16] prasadtalasila commented on #16
The meaning of the two tables in wh_table_authors.csv is not completely clear. It would be good to have the table produced in the specified format.

[2016-02-13 10:01] achyudh commented on #16
With the given format, since a CSV file does not have any formatting, it gets very clumsy. Further, the total and the subtotals of both new authors and all authors cannot be captured. Hence I created separate tables for new authors and the total number of authors. The first table shows the number of threads with a **total** of 'i' authors at a height 'h' and the second, No. of threads with a 'i' *

[2016-02-13 10:22] achyudh commented on #16
Please check commit 7d08f85. The reformatted table is in the "data/graphs/csv" folder.

[2016-02-13 10:22] #16 closed, assigned to achyudh

[2016-02-14 01:12] prasadtalasila opened #21 "Hyperedge representation"
We can model each discussion thread as one hypergraph. All the email header information can be represented as one hyperedge of a hypergraph. A conscise format for representing a discussion thread is as follows.

![image](https://cloud.githubusercontent.com/assets/9206466/13031082/15d7b61c-d2e5-11e5-971f-ce0f44a4a755.png)

Here the author column headers would contain the ids of the authors. All the

[2016-02-15 16:34] achyudh commented on #13
This issue has now been addressed in commit 5975310.

[2016-02-15 16:34] #13 closed, assigned to achyudh

[2016-02-26 21:16] achyudh commented on #21
Please refer to commit 5aa5b65. This issue has now been addressed.

[2016-02-26 21:16] #21 closed, assigned to achyudh

[2016-02-28 17:43] prasadtalasila opened #22 "Two statistics on the discussion threads"
Now we have the discussion threads, generating the following statistics can be helpful in understanding the nature of the discussion threads.
1. Distribution of the length (in time, mins/hours/days) of each discussion thread. Since one discussion thread has one length, we have a distribution of these lengths.
2. Distribution of inter-arrival times between the consecutive messages in all discussion

[2016-02-28 18:04] prasadtalasila commented on #20
We can approach this question by slightly changing the code that generates the LKML author graph.

We can maintain a list for each edge seen so far (let's focus only on From-To edges). The first time an edge is created between two authors, its' creation time is noted down. The next time this edge is seen again, the time difference, i.e. Tedge2 - Tedge1, becomes the refresh time interval for this e

[2016-03-02 19:48] achyudh commented on #14
- Regarding community detection, please check commit d462d1b.
- Plotting these communities without overlaps in a discernible manner would be an issue due to the 1000+ number of nodes in some communities.
- The issue of strongly and weakly connected components has already been addressed. The entire graph is a weakly connected component with a single dominant strongly connected component and the res

[2016-03-02 19:48] #14 closed, assigned to achyudh

[2016-03-02 19:50] achyudh commented on #18
Please check commit d462d1b regarding the implementation of community detection using Infomaps. As discussed, Louvain would not be best suited for this graph due to its directed nature.

[2016-03-03 16:39] achyudh commented on #19
Graph-tool's clustering module (Refer: https://graph-tool.skewed.de/static/doc/clustering.html#graph_tool.clustering.motifs) don't take into consideration the weights of the graph. Hence the analysis would have to be done on a directed non-weighted graph. Please let me know if I should still proceed.

[2016-03-04 01:15] prasadtalasila commented on #19
The motif data on the unweighted graph would still be interesting. Also run the motif_significance function mentioned on the same html page. For each motif, the function returns z-score which would be qualitatively important.

[2016-03-11 13:41] achyudh opened #24 "Re-factor Data Cleanup Module"
The current implementation of the module is less than efficient and requires optimizations, especially concerning the unnecessary file operations. Preferably writing the module from scratch would fix all of the issues.

[2016-03-18 15:43] achyudh commented on #24
This module was refactored in commit 9cabbf737a1b5d2a1fefdf31396fc6bc79404862. Further changes to the module are not necessary.

[2016-03-18 15:43] #24 closed, assigned to nobody

[2016-04-01 16:45] achyudh commented on #19
Commit 07ec072 partly addresses this issue, but the detection of motifs of any size is taking an extremely long time resulting in no output.

[2016-04-01 17:58] achyudh opened #25 "Ignore threads with a single author"
In our previous discussion we decided to remove the threads with only 1 author from the analysis. However, upon further introspection and manual analysis of relevant threads, these in the future end up getting more authors and adding to the conversation and hence would have to be considered in a latter part of the analysis. This results in an inconsistent methodology wherein threads that are ignor

[2016-04-01 18:54] achyudh commented on #22
This issue has been addressed in commit d093e5c.

[2016-04-01 18:54] #22 closed, assigned to achyudh

[2016-05-17 19:54] achyudh opened #27 "Add module to support mailbox format"
Create all relevant modules for data collection from MBOX files that results in the same JSON headers as the IMAP procedure currently being followed. This includes:
    1. The driver module - _mbox_fetch_headers.py_
    2. Parser module to extract information from MBOX files - _mbox_hdr.py_
    3. Module to verify header information extracted - _mbox_check_headers.py_

[2016-05-21 20:29] achyudh commented on #27
Addressed fully in commit 7c961523dbac3f507efbce04ead492c18c843a63

[2016-05-21 20:29] #27 closed, assigned to nobody

[2016-05-21 20:30] achyudh commented on #25
This issue has been partially addressed in commit 7c961523dbac3f507efbce04ead492c18c843a63.

[2016-05-22 17:30] achyudh commented on #25
This issue has been completely addressed in commit 3ff850cd65770b3d6f3124306890760240fa7205.

[2016-05-22 17:30] #25 closed, assigned to nobody

[2016-05-22 23:11] prasadtalasila commented on #12
Because of too few statistically significant (>1% cutoff) points in this table, the parameter estimation does not seem like a good idea. We are abandoning the plans to do the parameter estimation.

[2016-05-22 23:11] #12 closed, assigned to prasadtalasila

[2016-05-27 09:35] achyudh commented on #10
This module needs to be modified to incorporate recent changes to the code and file organization.

[2016-05-27 19:23] achyudh commented on #18
Changes to the code need to be made to use the mapequation.org source for multilevel community detection with Infomap. Then the data from the .MAP file must be used to generate a visual map in the Map Generator.

[2016-05-27 19:25] achyudh commented on #19
The graph can be optimized by removing lone author threads and further by removing the stray nodes that are not a part of the single largest strongly connected component (if it exists). The algorithm must then be run for both the thread graph and the author interaction graph.

[2016-05-28 11:22] achyudh opened #30 "Hyperedge Representation - Statistical Analysis"
In the first cut analysis, let us bunch the To, CC and BCC together; we can form a hyperedge FROM to To, CC, BCC users. Each email gives one hyperedge. We can find about statistical distribution on the number of to vertices for each hyperedge by filling the following table.
### No. of Vertices receiving hyperedge  | No. of Observations

---

We can find the degree differential (out-degree - in-deg

[2016-05-28 20:19] achyudh commented on #10
Commit 25f0275 addresses this issue.

[2016-05-28 20:19] #10 closed, assigned to achyudh

[2016-05-29 00:35] prasadtalasila opened #31 "SimRank on Author Graphs"
Jeh, Glen, and Jennifer Widom. "SimRank: a measure of structural-context similarity." Proceedings of the eighth ACM SIGKDD international conference on Knowledge discovery and data mining. ACM, 2002.

The above paper can be used to find similar nodes. If these nodes also have the same expertise, then the nodes are presumably substitutable. This is equivalent to automatic finding a new leader in the

[2016-06-04 09:12] achyudh commented on #19
Further optimizations did not yield any result as the detection of motifs of any size is taking an extremely long time resulting in no output.

[2016-06-04 09:12] #19 closed, assigned to nobody

[2016-06-04 16:23] achyudh commented on #18
This issue has been addressed in commit ea7f4e2.

[2016-06-04 16:23] #18 closed, assigned to prasadtalasila

[2016-06-05 10:28] achyudh commented on #20
Commit 62edd11 addresses this issue.

[2016-06-05 10:28] #20 closed, assigned to achyudh

[2016-06-05 19:16] achyudh commented on #30
This issue has been fully addressed in commit 2d24a95 and the corresponding tables are in data/tables as CSV files. The Wiki is yet to be updated with the new data.

[2016-06-05 19:16] #30 closed, assigned to nobody

[2016-06-17 12:07] achyudh opened #32 "Generation of Heat Maps"
To estimate the user activity on an online community, we can divide the a day into 48 bins each of length 30 minutes representing the number of messages sent during that particular time interval. The daily bins can be aggregated into monthly bins. The heat map can also be extended to contain bins that correspond to UIDs of authors rather than the time periods. This author heat map should provide r

[2016-06-17 15:44] achyudh opened #33 "Distribution Hub Network"
Distribution hubs like linux-kernel@vger.kernel.org can be distinguished by the fact that they would have no out-degree. Hence it is possible to analyze the network formed by just the distribution hubs. Howver, the distribution hubs need to be verified manually so as not to remove people with high out-degree/in-degree ratio like linus@linux-foundation.org.

For the real social network created by t

[2016-06-17 15:49] achyudh opened #34 "Keyword Digest for Authors"
It is possible to analyze the expertise of an author on an online community by investigating the contents of all the mails sent by that author through normalized word frequency text mining analysis on the author's messages by considering for each author a document that consists of all the mails sent by that author.
In order to not distort our results from low sample space, only consider documents

[2016-06-18 21:26] achyudh opened #35 "Clustering Coefficients of the Authors"
Clustering Coefficients for the Authors Network can be generated using the Clustering module in NetworkX. For unweighted graphs, the clustering of a node u is the fraction of possible triangles through that node that exist, and  for weighted graphs, the clustering is defined as the geometric average of the subgraph edge weights.

[2016-06-27 10:35] prasadtalasila opened #36 "Analysis Framework Outline"
- [x] Channel profile -- heatmap and conversation characteristics
- [ ] Network profile -- presence and message exchange social networks, network analysis, hyperedges, thread-level analysis
- [x] User profile -- author participation, user ranking (from degree differential), keyword digest
- [x] New items -- thread-level analysis (network profile), author participation (user profile), hyperedges
-

[2016-06-28 09:40] achyudh commented on #36
The heatmaps part of channel profile analysis has been addressed in commit 365262a.

[2016-06-28 09:41] achyudh commented on #32
This issue has been addressed in commit 365262a.

[2016-06-28 09:41] #32 closed, assigned to nobody

[2016-06-28 16:09] achyudh opened #37 "Calculation of Conversation Refresh Times (CRT)"
For a pair of users, this refers to the time when one conversation ends and another one starts. These times are required to be generated as a probability distribution function (PDF) and then plotted as PDF plots between the conversation refresh times and frequency.

[2016-06-29 15:27] achyudh commented on #37
Commit bfb6abc addresses this issue.

[2016-06-29 16:46] achyudh commented on #37
The CRT for mailing lists is the time difference between two mails between two users. It is necessary for these two emails to be part of two different threads / conversations. Specifically, we need to find the time difference between the last mail of the previous thread and first mail of the current thread; the selected mails must also have the two target users as participants.

[2016-06-30 11:36] #37 closed, assigned to nobody

[2016-07-04 15:27] achyudh commented on #35
Commit a56e718 addresses this issue.

[2016-07-04 15:27] #35 closed, assigned to nobody

[2016-07-14 15:33] achyudh commented on #34
Fully addressed in commit 16f807d.

[2016-07-14 15:33] #34 closed, assigned to nobody

[2016-08-31 18:25] achyudh commented on #36
Presence networks removed from analysis for now.

[2016-08-31 18:25] #36 closed, assigned to nobody

[2017-02-06 01:15] prasadtalasila opened #40 "Test ticket from Code Climate"

[2017-02-06 01:15] #40 closed, assigned to nobody

[2017-03-21 18:03] prasadtalasila opened #42 "Separate Pre-release Branch"
It would be a good practice to have a ready release / pre-release for the software. That way, any foreseen issues on the dev branch would not effect the people who would want to use the software.

We can have a working commit that is decent, create a release out of it.

[2017-04-15 10:00] prasadtalasila opened #45 "Generate Call Graphs"
snakefood [usage](https://gist.github.com/prasadtalasila/deb3e55d8f084ba375d1c31712e1c7e4)

pycallgraph [usage](https://gist.github.com/prasadtalasila/71893b1eb8dfc425fba169b4c70b1475)

[2017-06-25 18:03] achyudh commented on #42
I have been using the master branch for the purpose. All commits are done on the dev branch by default. I only merge dev to master after every few incremental updates if the Travis tests pass. Please let me know if this is the correct approach.

Can't we create snapshots like the SNAA_snapshot for other needs?

[2017-06-26 01:35] prasadtalasila commented on #42
The idea seems okay. We can have a release on a tagged commit using github releases approach. Once we have ready made code for a publication, we can have that release on master or separate branch, based on the amount of customizations required for the publication.

Once a working release is in place, this issue can be closed.

[2017-06-26 11:36] achyudh opened #48 "Transition from Wiki to Sphinx Documentation"
- [x] Setup basic Sphinx documentation support with website
- [x] Enable and theme the documentation website
- [x] Copy information from Wiki to documentation
- [x] Update README with links to documentation and better project overview

[2017-06-27 16:07] achyudh opened #50 "Refactor Project Modules to match IRCLogParser"
## Proposed project structure:

### 1. input
- imap
- mbox

### 2. analysis
- thread
- author

### 3. util

### 4. deprecated

[2017-06-27 18:48] achyudh commented on #48
Dear @prasadtalasila, I kindly request you to do the following to enable the doc website:

I need to be able to see the website to figure out how it works and set it up.

[2017-06-27 19:02] achyudh commented on #42
Commit 3ed2e2a is Release v0.10

[2017-06-27 19:02] #42 closed, assigned to achyudh

[2017-06-27 19:02] achyudh commented on #50
Resolved in Commit 3ed2e2a (as of Release v0.10)

[2017-06-27 19:02] #50 closed, assigned to nobody

[2017-06-27 19:03] achyudh commented on #50
Please feel free to suggest changes to the proposed structure

[2017-06-27 19:05] achyudh opened #52 "Generation of Test Cases"
- [ ] Fill up the TODO stubs of the tests for author analysis and thread analysis

- [ ]  Refactor tests to mirror the module structure of the project

- [ ] Set up a unit testing framework

[2017-08-23 22:00] achyudh opened #56 "Ignore documentation files in Code Climate tests"
Change Code Climate config to ignore documentation files. This is causing False positives

[2017-08-27 13:44] achyudh commented on #56
Resolved in commit 8691620bb6c29adef176beace313e0fcfba5e2b0

[2017-08-27 13:44] #56 closed, assigned to yashpungaliya

[2017-08-28 11:48] prasadtalasila opened #57 "Auto-generating the documentation for master branch"
Each time master branch is updated, Travis script must generate the HTML documentation from sphinx documentation

[2017-09-04 08:56] prasadtalasila commented on #48
pending work.

1. Copy https://github.com/prasadtalasila/MailingListParser/wiki/Overview-of-Project-Modules
2. Create a matching page for https://github.com/prasadtalasila/MailingListParser/wiki/Algorithm-Documentation under **Contents** with the section header of "Algorithm for parsing of Mailinglists."

[2017-09-04 09:38] prasadtalasila opened #58 "complete documentation for util module"

[2017-09-11 08:45] prasadtalasila opened #59 "non-structural (global) code in some modules"
Some modules have python code written outside of a function scope. The files having such code are:
[code]
How do we utilize this code? If the code is being used, how do we refactor the code to functions?

[2017-09-11 09:09] prasadtalasila opened #60 "Move driver files out of lib/"
Move the driver files to the top-level directory from lib/ directory.

Add a shell script at the top level to invoke all the drivers.

[2017-09-11 09:29] achyudh commented on #59
Yes, I came across a few modules written outside of a function scope when I was trying to automate document generation. Most of these are not being used currently and hence they haven't been refactored to be in function scope.

- lib/util/graph_leaf_nodes.py:  Identify leaf nodes in any tree graph. Not being used currently.
- lib/util/snaa_curve_fit_layout.py: For generating a panel of graphs for

[2017-09-14 12:46] achyudh commented on #60
Resolved in https://github.com/prasadtalasila/MailingListParser/pull/63. Merge conflicts need to be sorted out.

[2017-09-14 12:46] achyudh commented on #59
Resolved in https://github.com/prasadtalasila/MailingListParser/pull/63. Merge conflicts need to be sorted out.

[2017-09-15 15:56] #60 closed, assigned to achyudh

[2017-09-15 15:59] #59 closed, assigned to achyudh

[2017-09-15 15:59] achyudh commented on #59
Merge conflicts have been sorted out.

[2017-09-15 15:59] achyudh commented on #58
Merge conflicts have been sorted out.

[2017-09-15 15:59] #58 closed, assigned to yashpungaliya

[2017-09-15 17:51] achyudh commented on #57
Solved in PR: Add support for doc autogen #65
Travis environment variables need to be updated with your personal access token for this to work

[2017-09-15 19:35] prasadtalasila commented on #57
@achyudhk The line-72 of etc/deploy_docs.sh script is pointing to your fork. That needs to be updated.

Also please enumerate the names of the environment variables so that I can match with the names on travis-ci.org. Right now, I see one variable named GH_TOKEN. Is that it or are there any other variables? Thanks.

[2017-09-15 19:38] achyudh commented on #57
That is the only variable. I am thinking of adding the repo address as a
variable also as we would face issues every time we are merging anything
from my fork or someone else branches from your repo. I would like your comments on that.

Yours,
Achyudh Ram

[2017-09-15 19:42] prasadtalasila commented on #57
sounds good. I will add the the GH_TOKEN to the travis.

[2017-09-15 19:46] achyudh commented on #57
Thanks for your quick response. I request you to add REPO_NAME to Travis too with the value: prasadtalasila/MailingListParser.git

Right now the address is mentioned as:
https://${GH_TOKEN}@github.com/achyudhk/Mailing-List-Network-Analyzer.git

[2017-09-15 19:48] achyudh commented on #57
I will modify the script to reflect the change accordingly as:
https://${GH_TOKEN}@github.com/$(REPO_NAME)

[2017-09-15 20:00] prasadtalasila commented on #57
Both the tokens have been added to travis-ci settings.

[2017-09-15 20:02] achyudh commented on #57
That's great. Can you please also ensure that GH-Pages is the branch from which we are publishing the documentation? That all that we need to get this working.

Thanks a lot.

[2017-09-15 20:10] prasadtalasila commented on #57
The website is being served from gh-pages branch. Yash pushed a few manual commits on to the branch and got them visible on the website. Good work.

[2017-09-15 21:00] achyudh commented on #57
The changes have been merged and this has been verified working. Thanks a lot for your help.

[2017-09-15 21:00] #57 closed, assigned to nobody

[2017-09-18 08:56] prasadtalasila opened #67 "complete documentation for input module"

[2017-09-18 12:33] prasadtalasila opened #68 "fix errors in sphinx documentation generation steps"
The `make html` step of [sphinx documentation generation tutorial](https://github.com/prasadtalasila/MailingListParser/wiki/Generating-documentation-using-Sphinx) is giving an error. The step works very well on travis.

We need to trouble shoot this error so that we can auto deploy the project on an on-campus server.

[2017-09-18 12:34] prasadtalasila opened #69 "documentation for input module"
proper formatting and rephrasing of documentation for input module.

[2017-09-18 12:34] prasadtalasila opened #70 "documentation for analysis module"
Add documentation with comments and I/O formats for all the functions in analysis module.

[2017-09-18 12:37] prasadtalasila commented on #69
This is a repetition of issue #67. Closing now.

[2017-09-18 12:37] #69 closed, assigned to nobody

[2017-09-18 12:37] yashpungaliya commented on #68
I found a solution for this...
Update your sphinx using sudo pip3 install --upgrade sphinx
And build the html files using "sudo make html" instead of "make html"
I have fixed this on the server  and docs have been generated.

[2017-09-18 12:48] prasadtalasila commented on #68
@yashpungaliya You are right. The documentation is being generated on the server. Please update [sphinx generation page](https://github.com/prasadtalasila/MailingListParser/wiki/Generating-documentation-using-Sphinx). Just to keep you updated, the remedy is not working on my machine.

Once you update the wiki page, I will try again with the help of the tutorial.

However, the log file generated du

[2017-09-18 12:55] yashpungaliya commented on #68
I am aware of the warnings/errors and they arise due to third party imports such as -nltk,sklearn,networkx,etc.
I don't think they affect the generation of code documentation but I will create an Issue for the same

[2017-09-18 13:04] achyudh commented on #68
The script for the documentation has to be run from the correct directory (/etc) which is probably why `ImportError: No module named 'lib'` is coming up. Otherwise, you just have to install the 3rd party libraries like networkx and plotly in the server.

[2017-09-18 13:04] achyudh commented on #68
Please try this to  install the 3rd party dependencies:
`"pip install -r requirements.txt"`

[2017-09-18 14:17] prasadtalasila commented on #68
@achyudhk I tried your sugestions. Now it says `ImportError: No module named 'sphinx'`; the code I am using is the dev branch 066af2a commit with no modifications.

[2017-09-18 14:32] achyudh commented on #68
Can you please check if you are using the correct version of Python? Because the dev branch requirements.txt has `sphinx>=1.4.1`

Please see if both the install of dependencies and running of script are happening through Python3.

[2017-09-20 14:13] prasadtalasila opened #73 "error in builds due to deploy_docs.sh"
The [document auto generation script](https://github.com/prasadtalasila/MailingListParser/blob/development/etc/deploy_docs.sh) fails on any branch other than master or deployment. For a sample scenario, please see the travis [build log](https://travis-ci.org/prasadtalasila/MailingListParser/builds/277751758) of 21d41e1 commit made on [install](https://github.com/prasadtalasila/MailingListParser/tr

[2017-09-20 20:30] prasadtalasila commented on #68
With the updated installation setup, the docs are being generated correctly. However, there are still a few helpful warnings.

[code]
We can clean up the mistakes in sphinx documentation using the above warnings.

[2017-09-20 20:32] achyudh commented on #73
The build seems to fail if there is nothing to commit to the documentation. This is just a hunch. We have to check if the documentation has in fact changed in the deploy_docs.sh script before attempting to make a commit.

`Your branch is up-to-date with 'origin/gh-pages'.
nothing to commit, working tree clean
The command "bash etc/deploy_docs.sh" exited with 1.`

[2017-09-20 20:35] achyudh commented on #73
Another question I would like to think about is do we need to generate and deploy the documentation for all commits in all branches? It makes sense to restrict this to updates in the master branch.

[2017-09-20 20:40] prasadtalasila commented on #73
It makes sense to restrict documentation generation to development branch. For a way to do this, please see [lines 22 to 25](https://github.com/prasadtalasila/IRCLogParser/blob/dev/ext/doc_auto_deploy.sh#L22-L25) of sample script.

The problem of successfully bailing out in case of no git commit is also addressed in [lines 51-55](https://github.com/prasadtalasila/IRCLogParser/blob/dev/ext/doc_auto

[2017-09-20 20:44] achyudh commented on #73
I have made both the changes in my repository. I am currently testing them. I will let you know if that was the cause.

[2017-09-20 20:53] achyudh commented on #73
This issue has been fixed n https://github.com/prasadtalasila/MailingListParser/pull/74

[2017-09-20 20:53] #73 closed, assigned to achyudh

[2017-09-21 06:04] prasadtalasila opened #77 "streamlining of branches"
The following branches seems to have served their purpose.

* [revert-71-development](https://github.com/prasadtalasila/MailingListParser/tree/revert-71-development)
* [revert-64-master](https://github.com/prasadtalasila/MailingListParser/tree/revert-64-master)
* [snaa_snapshot](https://github.com/prasadtalasila/MailingListParser/tree/snaa_snapshot)

Also the development branch is completely out o

[2017-09-21 06:14] prasadtalasila opened #78 "Move data to separate repository"
The [data](https://github.com/prasadtalasila/MailingListParser/tree/development/data) directory is resulting in too large a repository size. Replicating the code base comes a bit of an issue on the integration servers and also for new users who would like to try out our project.

Should we move the data directory out of the repository and provide a configuration file which can have variables point

[2017-09-22 11:37] hardik124 commented on #68
@yashpungaliya  Is this issue still relevant?

[2017-09-22 11:40] hardik124 commented on #45
@prasadtalasila , Is this issue still relevant?

[2017-09-22 11:43] achyudh commented on #78
A while back I had suggested making a separate repository to host our data files. We can place a README in the data folder with instructions and a script that clones and extracts the other data repo.

Please let me know what you think.

[2017-09-22 11:44] prasadtalasila commented on #68
Yup. The warnings mentioned in my last message still exist. You can try to rectify the sphinx format errors and remove the warnings.

[2017-09-22 11:45] achyudh commented on #45
@hardik124 Every unclosed issue is relevant as we regularly update these.

[2017-09-22 11:46] achyudh commented on #68
These warnings are actually due to improper formatting of the reStructuredText comments and have nothing to do with the generation of the documentation.

[2017-09-22 11:52] prasadtalasila commented on #78
My bad that I did not recognize the problem at that point. What is the best way forward? We can store the data in a separate repo. That's the easy part. The hard part is to carefully shrink and prune this repo by removing the data/ directory completely.

What is the best way forward?

[2017-09-22 11:58] achyudh commented on #78
We can permanently remove the data folder from the repository by using:

This command will iterate through the whole commits history in the repository, change the commit objects and rewrite the entire tree. However, it is best to backup our data before doing so. I am not sure how we can push this to GitHub as we need to ensure all branches and tags are pushed to remote.

[2017-09-22 12:05] achyudh commented on #78
We can try this to force push all branches and tags are pushed to GitHub.

`git push origin --force --all`
`git push origin --force --tags`

[2017-09-22 12:24] hardik124 commented on #45
@achyudhk  I would like to work on it. Could you please provide some more details?

[2017-09-23 02:49] prasadtalasila commented on #78
I tried the following commands on all the branches.

[code]
The data/ directory is removed from all the fresh commits of all the branches. I removed the github remote and kept only master, development, gh-pages and java_deprecated branches. But the size is still the same (253MB).

[code]
reduced the repo size to 51MB. I think there were a few large objects in `lib/data` in one of the past commits.

[2017-09-23 02:56] prasadtalasila commented on #78
The shrunk repository which stands at 51MB is posted at https://github.com/prasadtalasila/MailingListParser-Shrunk

[2017-09-23 07:39] prasadtalasila commented on #78
Update: After performing aggressive garbage collection and pushing the repo to github, I found the efective cloned repository size to be 20MB. This new size is a bit more manageable.
What part of code do we need to change in order to cleanly separate data and code? If we can do this with little effort, we can do the separation now.

Do check the [shrunk repository](https://github.com/prasadtalasil

[2017-09-23 14:18] kaivalyar commented on #78
Git submodules are the way to manage such issues - when a software project relies on another project (containing data, or some other dependency).

You can modify this example, to suit your exact needs:
Separate the original `MailingListParser` repo into 2: a new `MailingListParser` repo and a `MailingListData` repo. Store the data in the MailingListData repo - this will probably have a large size.

[2017-09-24 03:10] prasadtalasila commented on #78
Thanks @kaivalyar for suggestion on git submodules. Just to balance the debate, here is an [article](https://codingkilledthecat.wordpress.com/2012/04/28/why-your-company-shouldnt-use-git-submodules/) on the downside of gitsubmodules. Do see the comments of that article as well.

@achyudhk I also notice that the data has both input files (mbox) and output files (png, csv, html, json) files. If we c

[2017-09-24 07:43] yashpungaliya commented on #68
@prasadtalasila All issues have been resolved and checked on the server! No more warnings appear.

[2017-09-24 09:09] prasadtalasila commented on #68
fixed in #80.

[2017-09-24 09:09] #68 closed, assigned to yashpungaliya

[2017-09-24 09:13] prasadtalasila commented on #45
@hardik124 We would like to see the dependency diagram (alias call graph) to understand the critical aspects of the application. Having an understandable call graph would be a first step towards prioritizing the work towards areas of code which if improved can provide maximum benefit.

There are already links to sample usage of these programs. You can run these programs for typical scenarios of in

[2017-09-24 09:17] prasadtalasila commented on #67
Task completed in #75.

[2017-09-24 09:17] #67 closed, assigned to yashpungaliya

[2017-09-24 13:29] kaivalyar commented on #78
Thank you for mentioning git-lfs. I did not know about it earlier. It does seem to suit this particular use case better.

I did some more reading on git submodules, and found that many people have had issues with them. Git introduced the git subtree to address some of those (https://www.atlassian.com/blog/git/alternatives-to-git-submodule-git-subtree).

Finally, however, git-lfs might be the best

[2017-09-25 08:54] prasadtalasila opened #81 "Run the lkml mbox through the code base"
Start with the mbox of lkml. Run all the analysis on the mbox, generate the results and cross-verify with the existing results in data/lkml directory.

Please post all deviations, exception and run-time problems in this issue.

[2017-09-25 08:56] prasadtalasila commented on #70
Ony work on the analysis/thread module.

[2017-09-25 08:57] prasadtalasila opened #82 "Run mbox of sakai-devel through code base"
In #81, we consider the processing of lkml mbox. In this issue, we consider the processing of sakai-devel mbox.

[2017-09-26 07:11] yashpungaliya commented on #82
Sir,
Can you please put the mbox for sakai and lkml on the server, I don't have
them.
Thanks,

Yash Pungaliya.

On Mon, Sep 25, 2017, 2:27 PM Prasad Talasila <notifications@github.com>
wrote:

[2017-10-04 09:17] prasadtalasila commented on #70
complete the work on analysis/author module.

[2017-10-04 09:19] prasadtalasila commented on #81
~~Please create an issue for each of the missing results. An issue also needs to be created for each of the mismatches in the results.~~
After discussion with @yashpungaliya, I realize that it may be better to create a list in this issue for the items.

* lkml results that are being generated and are matching with the existing results in data/ directory.
* lkml results that are being generated and

[2017-10-04 09:21] prasadtalasila opened #84 "Run mbox of opensuse through code base"

[2017-10-04 10:11] yashpungaliya opened #85 "Fix script to generate graphs"
The etc/generate_graphs.sh is broken. Need to fix it in order to automatically generate graphs.

[2017-10-04 22:26] achyudh commented on #85
The driver files were developed to phase out these shell scripts. That script is too old now and can be removed. During one of our meetings, @prasadtalasila and I decided that plotting graphs is not practical and this led to the development analysis driver files that perform all the analyses without actually plotting and saving every graph.

[2017-10-05 06:56] prasadtalasila commented on #85
@achyudhk please list the scripts that are redundant so that @yashpungaliya can remove the same.

[2017-10-05 13:54] yashpungaliya commented on #85
@achyudhk The analysis of author and thread runs successfully on the server.However,before moving to the Shrunk repository we need a way to reproduce all pre-existing results so that they can be regenerated automatically later with any data. Can you please suggest how to go about it?

[2017-10-05 13:57] achyudh commented on #85
@yashpungaliya I am not sure if I understand your question. If you provide the correct paths to the files in the driver, it can technically run on any MBOX file.

[2017-10-05 13:59] achyudh commented on #85
@prasadtalasila @yashpungaliya

As far as I could see these are the deprecated scripts:

https://github.com/prasadtalasila/MailingListParser/blob/master/etc/create_directory_structure.sh

https://github.com/prasadtalasila/MailingListParser/blob/master/etc/generate_graphs.sh

Restructuring the data folders (into input and output) will affect this script but it is still useful:
https://github.com/pr

[2017-10-09 18:26] achyudh commented on #85
@yashpungaliya Can I close this issue after removing these files?

[2017-10-09 18:29] achyudh commented on #78
@prasadtalasila I forgot to mention that we are using the output files in the documentation (used to be Wiki) to summarize our results. Plus these results are for multiple time intervals so it would take time to generate all of them. Can we please keep them in the data repository?

Also we can use the BFG Repo-Cleaner. I looked up the functionality and it is all we need.

[2017-10-09 22:26] prasadtalasila commented on #85
@achyudhk please feel free to delete the unnecessary files.

[2017-10-09 22:33] prasadtalasila commented on #78
The images / results used in wiki can be moved to a different directory, say data/docs or something else more meaningful.

Any other results that we can generate in less than six hours of machine time (Core i3 processor, 12GB RAM), we can safely remove. Lets start there and see the improvements in the size. If those parts can be clearly identified, we can start with this repo again, remove the ide

[2017-10-09 22:35] prasadtalasila commented on #78
@achyudhk Just to be safe, please list here the files / directories that you are proposing to remove.

[2017-10-10 17:45] achyudh commented on #78
This is list of files to remove (contains all images and data that we include in the documentation. We can manually move them to doc/ later):
- data/<mailing_list_name>/graphs/*
- data/<mailing_list_name>/heatmaps/*
- data/<mailing_list_name>/infomap/*
- data/<mailing_list_name>/json/*
- data/<mailing_list_name>/plots/*
- data/<mailing_list_name>/tables/*
- data/<mailing_list_name>/*.txt

This is

[2017-10-10 17:58] achyudh commented on #85
I have removed the scripts. Also @yashpungaliya regarding your query:
- The hierarchical clustering dendrograms and the vertex clustering graphs were generated manually with R. There doesn't exist a script for that
- Heatmaps were replaced with timeline graphs. Please confirm with @prasadtalasila if heatmaps are still used in the analysis. If yes, the relevant code is still present.

[2017-10-10 17:58] #85 closed, assigned to nobody

[2017-10-10 17:59] achyudh commented on #77
I was thinking we could sync the dev and master branches once we remove the unnecessary data files. I shall remove the reverted branches and the snapshot.

[2017-10-10 18:01] #48 closed, assigned to nobody

[2017-10-12 09:35] prasadtalasila opened #86 "code for dendrograms and vertex clustering"
The hierarchical clustering dendrograms and the vertex clustering graphs were generated manually with R. We need a python, or at least an R script to generate these images automatically.

[2017-10-12 09:35] prasadtalasila commented on #85
The heat maps code can remain deprecated for now.

I also created issue #86 to help track the code missing issue. ~~If the unnecessary shell scripts are deleted, we can close this issue.~~

My bad. @achyudhk already closed the issue.

[2017-10-12 09:41] prasadtalasila commented on #78
@yashpungaliya you can implement the suggested changes on [MailingListParser-Shrunk](https://github.com/prasadtalasila/MailingListParser-Shrunk) first. If the changes are yielding good results on that repository, we can bring those changes to this repository.

Instead of manually redoing all of these steps twice, it is better to write a shell script that does what we intend and then cross-check th

[2017-10-16 14:17] prasadtalasila opened #88 "synchronize master and dev branches"
The master and development branches have significant differences. We need to prepare the development branch for PR onto master branch.

Please prepare the development branch and open a PR. We need to make sure that the deleted files do not make their way into the master branch through this merge PR.

[2017-10-16 15:34] achyudh commented on #77
Issue #88 is addresses the same issue. I am closing this for now.

[2017-10-16 15:34] #77 closed, assigned to nobody

[2017-10-16 17:10] achyudh commented on #86
Fixed in Pull Request #89
I kindly request @prasadtalasila to verify and merge

[2017-10-16 17:10] #86 closed, assigned to achyudh

[2017-10-16 17:12] achyudh commented on #52
Unit tests are actually crucial to verify the correctness of our results. I hope someone would work on the initial framework I had already setup for this.

[2017-10-16 22:37] prasadtalasila commented on #52
@yashpungaliya will get started on unit tests as soon as the present work in the [worksheet](https://github.com/prasadtalasila/MailingListParser/projects/1) is complete.

[2017-10-16 23:42] achyudh commented on #52
That would be great and I will also join in during that phase. The integration tests are already in place and they don't tell us about the correctness of the code we are pushing.

[2017-10-18 07:43] hardik124 commented on #45
@prasadtalasila ,
Call graph for the whole project can be generated by snake food.
Should  I add a bash script to generate?

[2017-10-18 07:51] prasadtalasila commented on #45
@hardik124  Please generate the call graph for the whole project and link it here. Based on the generated graph, we can take the work forward.

[2017-10-18 10:43] hardik124 commented on #45
@prasadtalasila  These are the call graphs generated by Snake food. Please check if its alright.
[call-graphs.zip](https://github.com/prasadtalasila/MailingListParser/files/1394288/call-graphs.zip)

Please note, the file name is in format, -{dir}-{subdir}-{subdir}...{filename of python script}.pdf

[2017-10-18 10:46] achyudh commented on #45
I'm familiar with the codebase and I can check this for you. However, when I try to open the PDF files it says invalid header.

[2017-10-18 10:54] hardik124 commented on #45
Hey @achyudhk  . It was opening in Ubuntu. I was not sure which format snakefood converts in.
I think you need graphwiz to view them.

[2017-10-18 11:01] achyudh commented on #45
I tried opening it with multiple PDF readers and it said the document was corrupted. I assumed

I will try the Ubuntu l's default PDF reader EVINCE later on. I suggest you fix the extension in case it's incorrect

[2017-10-18 11:06] hardik124 commented on #45
@achyudhk . I got the problem. It converts it into graphviz dot file.
I used ps2pdf to convert them to pdf. Can you verify if these pdfs are working?
[CallGraphs.zip](https://github.com/prasadtalasila/MailingListParser/files/1394335/CallGraphs.zip)

[2017-10-18 11:07] achyudh commented on #45
@hardik124 I ran file identification on your file and apparently it is a PostScript document text conforming DSC level 3.0. Even though some PDF viewer may open it it technically is a PS or EPS file. I suggest you output PDFs from now as it's easy for everyone to view and has integrated support in Github to view without downloading.

[2017-10-18 11:08] hardik124 commented on #45
@achyudhk  please check my previous comment.

[2017-10-18 11:08] achyudh commented on #45
In Graphviz you can directly save as PDF rather than relying on external tools. I'll verify them now.

DOT files are text and what you submitted was binary. Please note the difference.

[2017-10-18 11:14] achyudh commented on #45
You seem to be running it on init files, conf.py and even text files resulting in blank call graphs. I suggest you don't run on those files.

More importantly:
What you are doing great doesn't look the call graphs to me. This is only of single level, and has only file names and not actual function names. This is useful though in the sense we can identify cohesion and coupling in the codebase but t

[2017-10-18 11:20] hardik124 commented on #45
@achyudhk  I used ran the command "sfood {file} | sfood-graph | dot -Tps >> {.output} on all of the .py files to generate these as snakefood documentation said.

[2017-10-18 11:23] achyudh commented on #45
![](https://upload.wikimedia.org/wikipedia/commons/2/2f/A_Call_Graph_generated_by_pycallgraph.png)

This is what a call graphs is supposed to look like. I'm sure you can fiddle with the utility to get this.

[2017-10-18 11:24] hardik124 commented on #45
@achyudhk . In this particular example, They ran the code and generated the call graph through that. Is that what I have to do?

[2017-10-18 11:25] hardik124 commented on #45
@achyudhk . Actually, I realized my mistake now. Snakefood is generating a dependcy graph. I will try for call graph.

[2017-10-19 07:03] hardik124 commented on #45
![out](https://user-images.githubusercontent.com/6649948/31758106-b27c415a-b4c9-11e7-83aa-3da3d2ea47a7.png)
@achyudhk @prasadtalasila  Please check if this is right.

[2017-10-20 11:16] hardik124 commented on #45
@achyudhk  Please check if this call graph is right, so that I can generate for all others

[2017-10-20 13:57] achyudh commented on #45
@hardik124 It takes me a while sometimes to respond. I hope that won't be an issue with you.

You have chosen read utils as a sample class for generating a call graph, but the issue is the functions in utils module barely make any function calls as their purpose is to *assist other modules*. This seems to be correct but if you can do this for one of the driver files I can provide proper feedback

[2017-10-20 13:58] achyudh commented on #45
Also your graph has the function name but no information on the module or class to which it belongs. That information is crucial

[2017-10-21 00:51] prasadtalasila commented on #88
Also the `achyudhk-vertex-clustering` and `vertex_clustering_temp` seemed to have served their purpose. @achyudhk you can take a call on `achyudhk-vertex-clustering` and @yashpungaliya on `vertex_clustering_temp`. Please remove them if they are no longer necessary.

[2017-10-21 00:54] achyudh commented on #88
Both of them are no longer necessary. I have removed them.

[2017-10-21 00:59] prasadtalasila commented on #88
@achyudhk Thanks.

[2017-10-22 17:14] yashpungaliya opened #91 "Implementation of config dictionary object driver"

[2017-10-22 17:24] achyudh commented on #91
Double backslashes are due to r, raw string. It is used because the \ might escape some of the characters. It is usually good practice to do this.

[2017-10-23 00:59] prasadtalasila commented on #91
@yashpungaliya please provide an example of the problem you are highlighting in this issue.

Any required directory paths should be passed in as parameters to methods (functions). It is not a good practice to hard code the directory paths in the code. We may need to use a configuration file which gets available as a config dictionary object driver file. The driver file can pass the necessary confi

[2017-10-23 01:02] achyudh commented on #91
@prasadtalasila The directory paths are not hard-coded in most of the active code (maybe in some deprecated modules). The methods usually take the directory as an argument. However, if the path is not provided they have a fallback path which is hard-coded.

There aren't any problems with the directory paths. Yash is just pointing out that we aren't following a best practice.

[2017-10-23 01:07] achyudh commented on #91
A config dictionary is a good idea. Right now the drive files generate the paths dynamically based on the mailing list in consideration. This can be moved to a PathConfig class and rather than passing all paths as parameters, we can pass just one PathConfig class. Please let me know what you think

[2017-10-23 01:28] prasadtalasila commented on #91
The config object idea is worth implementing. Here a config object can be more general than a path configuration. There seem to be two approaches we can use for dictionary object which will have all the config.

* Pass the dictionary object to any function that wants configuration.
    * function would take what is necessary from this dictionary.
    * nothing prevents a function from taking anyth

[2017-10-23 01:32] achyudh commented on #91
A hybrid of what you suggested, Lazy evaluation of the config parameters. We pass the minimal information as fields in the dictionary when the config obj is created. The other fields when required are dynamically computed from the minimal information already present. This prevents having a bloated object with all parameters already filled and helps in quick creation of the object.

[2017-10-24 02:07] hardik124 commented on #45
@achyudhk  None of the driver files in /lib are generating a call graph except for test_driver and that calls the defined in that class itself .
![erd](https://user-images.githubusercontent.com/6649948/31921649-1b230ff0-b88e-11e7-945a-252ded8aa6e6.png)

[2017-10-24 09:25] achyudh commented on #45
Check out the files in the driver folder. Those scripts will give you a call graph.
**This one looks nice** but doesn't go inside the modules that is being called. We would like to see the entire call stack. I know drive data handling has a function that calls so many other functions from the other modules in the project. We would like to see those too. See if you can increase the depth of the tre

[2017-10-30 12:06] hardik124 commented on #45
@achyudhk  i am unable to find the driver folder you are talking about. Can you please give complete path?

[2017-11-01 08:02] prasadtalasila commented on #45
@hardik124 you can check the filenames starting with driver_* in [dev branch](https://github.com/prasadtalasila/MailingListParser/tree/development)

[2017-11-01 13:06] yashpungaliya opened #93 "igraph import error"
On running the driver_author_analysis.py, igraph gives an import error for igraph.
I have installed graph using
`pip3 install python-igraph`
which gives-
`ImportError: /home/yash/anaconda3/bin/../lib/libstdc++.so.6: version ``CXXABI_1.3.8'` `not found (required by /home/yash/.local/lib/python3.6/site-packages/igraph/_igraph.cpython-36m-x86_64-linux-gnu.so)
`
How to resolve this? I could not find a

[2017-11-05 10:36] yashpungaliya commented on #93
@achyudhk Can you help with this?

[2017-11-05 11:46] achyudh commented on #93
Try `conda update libgcc` or `conda install libgcc`

You can either update the libgcc package to match your local version, or ensure consistency by installing igraph from within conda and not pip: `conda install -c marufr python-igraph `

[2017-11-06 11:00] #93 closed, assigned to nobody

[2017-11-06 11:10] yashpungaliya opened #94 "Could not generate graph_nodes.csv and graph_edges.csv in driver_headers_mbox.py"
Error encountered when the entire output is to be regenerated with only the directory structure in data/ and the required mbox file is in place.

`
File "driver_headers_mbox.py", line 28, in <module>
    generate_edge_list(author_nodelist_filename=nodelist_filename, author_edgelist_filename=edgelist_filename,author_json_filename=author_uid_filename)
  File "MailingListParser/lib/analysis/author/ed

[2017-11-06 11:12] yashpungaliya commented on #94
The modified function call is what I used :

`generate_edge_list(author_nodelist_filename=nodelist_filename, author_edgelist_filename=edgelist_filename,author_json_filename=author_uid_filename)`

[2017-11-06 11:14] yashpungaliya commented on #70
Completed with PR #92

[2017-11-06 11:14] #70 closed, assigned to nobody

[2017-11-06 11:27] achyudh commented on #94
It should not happen. I checked both https://github.com/prasadtalasila/MailingListParser/blob/master/lib/analysis/author/edge_list.py and https://github.com/prasadtalasila/MailingListParser/blob/master/lib/util/read_utils.py.

It looks like either the nodelist_filename you are passing is incorrect or it is not being propagated to the get_lone_author_threads function.  Can you please check if nodel

[2017-11-06 13:57] yashpungaliya commented on #94
@achyudhk  I rectified the function call,however I think that the graph_nodes.csv is being accessed by get_lone_author_threads before being written in generate_edge_list

[code]

[2017-11-06 17:52] yashpungaliya commented on #94
generate_edge_list from lib.analysis.thread.graph is a function that writes graph_nodes.csv and graph_edges.csv. Is this is the right way to go about it?

[2017-11-06 17:57] achyudh commented on #94
Ideally it's supposed to get the foldername of the dataset and write to graph_nodes.csv in that. That's what I remember doing for most functions.

[2017-11-06 18:37] achyudh commented on #91
@prasadtalasila Any comments on my suggestion above? With all the other issues cropping up due to wrong paths this is sorely needed.

[2017-11-06 19:02] achyudh commented on #94
This is how the function call should be.

`generate_edge_list("author_nodes.csv", "author_edges.csv", threads_json_filename=headers_filename, nodelist_filename=nodelist_filename, edgelist_filename=edgelist_filename, author_json_filename=author_uid_filename)`

Your function call was wrong. Also regarding your claim that

I don't see an issue. I node_list is basically a by-product of calculating an

[2017-11-06 19:02] #94 closed, assigned to nobody

[2017-11-07 00:11] prasadtalasila commented on #91
I am in favor of creating a minimal config object parameter approach. Any function that requires configuration gets just enough configuration information via config object. The config object itself is created from ConfigCreator class which is implemented using Abstract Factory design pattern.

[2017-11-07 11:03] yashpungaliya opened #95 "List of Missing, Matching and Additional files-Sakai-Devel"
The current driver files give output which varies from the data generated earlier in MailingListParser.
I have divided them into 3 categories namely **Missing, Matching** and **Additions.**

### Sakai-Devel mbox

**Missing** :
plots/conversation_chars.png **_code missing_**
plots/conversation_refresh_times_inv.png _**resolved - driver_author import**_
plots/conversation_refresh_times.png _**resolv

[2017-11-07 11:06] yashpungaliya opened #96 "List of Missing, Matching and Additional files-LKML"
The current driver files give output which varies from the data generated earlier in MailingListParser.
I have divided them into 3 categories namely **Missing, Matching** and **Additions**.
### LKML mbox

**Missing Code**
	   plots/Inter_arrival_times_hist.png **_missing code_**
	   plots/Inter_arrival_times_hist_range.png **_missing code_ **
	   ignore-lat.html **_missing code_**
	   ignore-lat.p

[2017-11-07 11:21] yashpungaliya opened #97 "List of Missing, Matching and Additional files-Opensuse-Kernel"
The current driver files give output which varies from the data generated earlier in MailingListParser.
I have divided them into 3 categories namely **Missing, Matching** and **Additions.**

### Opensuse-Kernel mbox

**Resolved** :
heatmaps/* _**resolved - driver_thread import**_
plots/conversation_refresh_times_inv.png _**resolved - driver_author import**_
plots/conversation_refresh_times.png _**

[2017-11-07 12:29] prasadtalasila commented on #81
see #96.

[2017-11-07 12:29] #81 closed, assigned to nobody

[2017-11-07 12:30] prasadtalasila commented on #82
see #95.

[2017-11-07 12:30] #82 closed, assigned to nobody

[2017-11-07 12:30] prasadtalasila commented on #84
see #97

[2017-11-07 12:30] #84 closed, assigned to nobody

[2017-11-08 19:23] yashpungaliya opened #98 "Name of generate_author_ranking changed to get"
Above changes not reflected in driver files and some input code files

[2017-11-08 19:32] yashpungaliya commented on #98
Fixed in #99

[2017-11-09 01:52] achyudh commented on #91
@prasadtalasila In that case I will try to create a prototype config object and send it for review as soon as I find sometime. Thanks for your suggestion.

We can also include methods to create other commonly accessed config options from the minimal config. I feel this would reduce code duplication.

[2017-11-09 01:55] achyudh commented on #98
@yashpungaliya This is not the correct solution to this problem. When the project was reorganized to be modular `generate_author_ranking` was changed to` author.ranking.get`. Now it would be `author.ranking.generate_author_ranking` which is out of place and in-elegant. You need to uniformly change everything to author.ranking.get, rather than the opposite which you have just done.

Also please all

[2017-11-14 17:01] #88 closed, assigned to yashpungaliya

[2017-11-15 19:29] achyudh opened #104 "Check NetworkX 2.0 compatibility"
Requires.io (https://requires.io/github/prasadtalasila/MailingListParser/requirements/?branch=master) states that our dependencies have become outdated (NetworkX 1.11). I have faced issues when updating to a later version of NetworkX before. In case there are no issues migrating to the newer version, we should do so.

Checking for NetworkX 2.0 compatibility issues is simple for functions covered b

[2017-11-15 19:32] achyudh commented on #98
Fixed in Development #103

[2017-11-15 19:32] #98 closed, assigned to yashpungaliya

[2017-11-15 19:56] prasadtalasila commented on #104
There have been problems with directly using NetworkX inside the code. It might be better to refactor the code such that NetworkX is wrapped in an adapter class using [Adapter pattern](https://en.wikipedia.org/wiki/Adapter_pattern). If there is an update in NetworkX, then only the adapter class would change; rest of the code remains the same. If we don't do this, every NetworkX version change requ

[2017-11-16 11:59] achyudh commented on #104
@prasadtalasila I agree. But doing such a major refactoring of code would only help if the NetworkX API is changing frequently. That is not the case, and between major versions there are minor changes.

[2017-11-20 09:03] prasadtalasila commented on #97
@yashpungaliya modify code to give proper names to vc.pdf and vd.pdf.

[2017-11-20 09:09] prasadtalasila commented on #96
please separate the missing category into minor sub-categories of **deprecated**, **resolved**, and **code missing**.

All the function call missing cases can be taken care by adding respective calls to drivers.

[2017-11-20 09:13] prasadtalasila commented on #104
Will be resolved later.

[2017-11-20 09:13] #104 closed, assigned to nobody

[2017-11-20 09:20] prasadtalasila opened #105 "auto-deployment of docs to gh-pages broken"
probably a bug in the deployment script.

[2017-11-22 08:22] AakankshaSanctis opened #106 "Remove/move driver_headers_imap.py from development to deprecated"
driver_header_imap.py is not used anywhere

[2017-11-22 10:18] achyudh commented on #106
This can be done. The entire imap module has been deprecated anyway.

[2017-11-23 15:26] prasadtalasila commented on #105
PR #108 resolves the issue.

[2017-11-23 15:26] #105 closed, assigned to yashpungaliya

[2017-11-26 15:32] yashpungaliya commented on #96
@achyudhk Can you please comment regarding missing code section?

[2017-11-28 00:20] yashpungaliya commented on #106
Solved in #110

[2017-11-28 00:20] #106 closed, assigned to nobody

[2017-11-29 15:46] prasadtalasila opened #111 "Wrapper python script to run all drivers in order"
The existing drivers are dependent on each other. It may be better to put a small python / shell script that runs the driver scripts in correct order.

[2017-11-29 16:09] achyudh commented on #111
I suggest using a shell script since the other driver files are not in modules, it becomes a mess to call them

[2017-11-29 16:20] prasadtalasila commented on #111
@AakankshaSanctis can you send a PR with shell script containing correct order of invocation for the driver python files?

[2017-11-29 16:23] hrishikesh-dahiya commented on #111
Would it be helpful to move all the driver files in a separate module since they are not directly run by the user(after the script)?

[2017-11-29 16:28] achyudh commented on #111
@hrishikesh-dahiya You might face issues while importing files from the lib folder, and would have to modify a number of paths. Could be done but it is not inside lib so why waste time?

[2017-11-29 16:32] achyudh commented on #111
Try this order:
driver_headers_mbox.py
driver_thread_analysis.py
driver_author_analysis.py

[2017-11-29 16:37] hrishikesh-dahiya commented on #111
@achyudhk I just thought that it would give a clean main directory and it would be easy for the user to browse. But if it is not necessary, better not waste time on that then.

[2017-11-29 16:38] achyudh commented on #111
@hrishikesh-dahiya What you are saying is true, it is just more refactoring work. If you are fine with that please go ahead.

[2017-11-29 17:11] AakankshaSanctis commented on #111
@prasadtalasila ,I have uploaded the pr with the python script to run all the drivers

[2017-11-29 18:08] prasadtalasila commented on #111
work completed in PR #112

[2017-11-29 18:08] #111 closed, assigned to nobody

[2017-12-11 13:53] hrishikesh-dahiya opened #113 "Unit Testing Framework"
The code doesn't have the unit tests and they would be required for refactoring of the code. What testing framework should be used for the unit tests so that we can start working on it?

[2017-12-11 13:55] achyudh commented on #113
Please don't create new issues without checking existing ones.
Check Issue #52.

[2017-12-11 13:55] #113 closed, assigned to nobody

[2017-12-11 13:56] achyudh commented on #52
@hrishikesh-dahiya Please take a look at this.

[2017-12-11 13:59] hrishikesh-dahiya commented on #52
What is the current framework setup for unit testing?

[2017-12-11 14:01] achyudh commented on #52
Check out: https://docs.pytest.org/en/latest/
Find a basic integration test for all the modules here: https://github.com/prasadtalasila/MailingListParser/blob/master/lib/test_integration.py

[2017-12-11 14:17] prasadtalasila commented on #52
There is an [all-in-one help document](https://media.readthedocs.org/pdf/pytest/latest/pytest.pdf) as well. If everything that's promised in the document works, then we can happily use pytest for all kinds of testing in the project.

The [plug-in](http://plugincompat.herokuapp.com/) system seems good as well.

[2018-01-11 18:24] prasadtalasila opened #115 "update URLs and configuration"
Due to migration and renaming of MailingListParser to MLCAT, the badges in README.md are out of date. Also the project URLs in the scripts might be out of date.

The following files definitely need updates.

1. [README.md](https://github.com/DeveloperCAP/MLCAT/blob/development/README.md)
1. [etc/deploy_docs.sh](https://github.com/DeveloperCAP/MLCAT/blob/development/etc/deploy_docs.sh)
1. Markdown

[2018-01-11 18:25] prasadtalasila commented on #115
The badge to be used for dependency monitoring is as follows.
[code]

[2018-01-11 18:28] prasadtalasila opened #116 "update project name in docs/"
The Sphinx docs still use the old name of this project, namely MailingListParser. It is better to update the name in all the [documentation](https://github.com/DeveloperCAP/MLCAT/tree/development/docs) to MLCAT.

[2018-01-11 18:35] prasadtalasila commented on #115
@AakankshaSanctis it is better to add test coverage using codecov and solve the problem of test coverage reporting. Once codecov is integrated into the project, you can use the following badge.
[code]
You can remove the codeclimate test coverage badge.

[2018-01-15 01:28] prasadtalasila commented on #116
PR #117 solves this issue.

[2018-01-15 01:28] #116 closed, assigned to nobody

[2018-01-15 01:35] prasadtalasila commented on #78
@AakankshaSanctis please look at this issue once the work on the PR is complete. You have also been given access to MailingListParser-Shrunk repository to try out different approaches.

[2018-01-15 01:40] prasadtalasila opened #119 "check install setup using virtualenv"
The existing installation setup installs everything directly onto the base OS. Let's check the process with virtualenv and see if it goes through smoothly.

@tejalwakchoure can work on this as a first issue.

[2018-01-18 09:18] prasadtalasila opened #122 "codecov integration"
The MLCAT repo needs codecov integration.

[2018-01-18 09:21] #115 closed, assigned to AakankshaSanctis

[2018-01-18 09:22] prasadtalasila commented on #115
PR #121 solves this issue.

[2018-01-18 09:25] prasadtalasila opened #123 "Update Travis configuration"
We need to update the travis configuration to support two features.

1. Utilise Travis build cache to reduce Travis build times.
1. Introduce Travis pipelines into the build so that we can run unit and intergration tests in parallel.

[2018-01-18 09:48] prasadtalasila opened #124 "update templates"
Copy and suitably modify the following templates.

1. PR and Issue templates from [SCAT](https://github.com/DeveloperCAP/SCAT/tree/master/.github).
1. Code of conduct from [autolabcli](https://github.com/AutolabJS/autolabcli/blob/master/CODE_OF_CONDUCT.md)
1. Contributing guidelines from [SCAT](https://github.com/DeveloperCAP/SCAT/blob/master/CONTRIBUTING.md)

All the necessary wiki pages need to

[2018-01-18 10:03] prasadtalasila opened #125 "Update README.md"
Update the readme along the lines of [README.md](https://github.com/AutolabJS/AutolabJS/blob/master/README.md) for AutolabJS project.

We need to create wiki pages for **Install and Use**, **Features**. Add hyperlinks to all the files created in issue #124.

**Install and Use** page has to be created with reference to PR #120.

[2018-01-19 10:03] prasadtalasila commented on #122
@hrishikesh-dahiya I updated the requirements.txt to have codecov installation. Please check the [codecov](https://github.com/DeveloperCAP/MLCAT/tree/codecov) branch. The [build log](https://travis-ci.org/DeveloperCAP/MLCAT/builds/330733832) shows codecov being installed and run. But the coverage report generated by py.test is not in a format used by codecov. As a result, codecov throws up an erro

[2018-01-21 16:23] prasadtalasila commented on #122
PR #130 solves this issue.

[2018-01-21 16:23] #122 closed, assigned to hrishikesh-dahiya

[2018-01-25 09:17] prasadtalasila commented on #123
We need two pipelines - one for unit tests and one for functional tests. The unit tests pipeline would only have sleep command for 10 seconds.

[2018-01-25 19:19] hrishikesh-dahiya commented on #124
PR #133 resolves this issue

[2018-01-25 19:48] #124 closed, assigned to naveen-hr

[2018-01-26 06:41] AakankshaSanctis commented on #78
@prasadtalasila All the images from the docs and wiki pages are added in a new wiki page

[2018-01-26 06:53] prasadtalasila commented on #78
@AakankshaSanctis What you have done is take the images hyperlinks from GitHub code repo and add those links to a wiki page. Now when the data/ directory is removed from the GitHub code repo, all the image links would be invalid.
What was suggested was this.
1. Clone MLCAT.wiki repository. The wiki URL is https://github.com/DeveloperCAP/MLCAT.wiki.git
1. Identify all the images being used in wiki

[2018-01-31 02:13] hrishikesh-dahiya commented on #123
PR #135 solves this issue

[2018-02-01 09:04] #123 closed, assigned to hrishikesh-dahiya

[2018-02-01 09:05] prasadtalasila commented on #119
PR #136 solves the issue.

[2018-02-01 09:05] #119 closed, assigned to nobody

[2018-02-01 09:23] prasadtalasila opened #140 "TDD structure for the project"
**Description**
We need to put in place a test-driven development (TDD) structure for the project. The suggested structure is
[code]

**Definition of Done**
- [x] Project builds without errors
- [ ] Unit tests written and passing
- [ ] Any configuration or build changes documented
- [ ] Documentation updated
- [x] Peer Code Review performed

[2018-02-01 09:27] prasadtalasila opened #141 "Integration tests for lib/util/read.py"
**Description**
Please follow the testing conventions laid out in [py.test tutorial](https://github.com/DeveloperCAP/SCAT/wiki/Pytest-Tutorial)

**Definition of Done**
- [x] Project builds without errors
- [x] Integration tests written and passing
- [ ] Any configuration or build changes documented
- [ ] Documentation updated
- [x] Peer Code Review performed

[2018-02-04 13:35] prasadtalasila commented on #78
@AakankshaSanctis Please add the list of files to be changed to this issue.

[2018-02-04 14:08] prasadtalasila commented on #91
Python has in-built [ConfigParser](https://docs.python.org/3/library/configparser.html) class we can reuse and extend.

[2018-02-04 14:11] prasadtalasila commented on #78
The python code files that have hard-coded data path information are:
[code]

[2018-02-08 10:06] prasadtalasila commented on #125
completed in 0c87597 commit.

[2018-02-08 10:06] #125 closed, assigned to naveen-hr

[2018-02-08 10:45] prasadtalasila opened #143 "Create integration tests for modules in lib/util"
Order of completion:
 - [x] json_encoder.py
 - [x] graph.py
 - [x] preprocess.py
 - [x] union_find.py
 - [ ] layout.py

[2018-02-08 14:11] prasadtalasila commented on #140
@tejalwakchoure
In order to close this issue, you need to move the [test_integration.py](https://github.com/DeveloperCAP/MLCAT/blob/development/lib/test_integration.py) from lib/ directory to [integration](https://github.com/DeveloperCAP/MLCAT/tree/development/test/integration_test) directory.

Please send a separate PR for moves the file and builds correctly on travis.

[2018-02-09 11:23] hrishikesh-dahiya commented on #143
Add documentation to `test_json_encoder.py`

[2018-02-09 11:34] prasadtalasila commented on #143
@hrishikesh-dahiya don't add documentation to tests. If something is not very obvious, add a comment. That's about it.

[2018-02-09 13:02] prasadtalasila commented on #140
work is complete.

[2018-02-09 13:02] #140 closed, assigned to tejalwakchoure

[2018-02-09 13:17] prasadtalasila opened #147 "Integration test for lib/util/author.py"
**Description**
Please follow the testing conventions laid out in [py.test tutorial](https://github.com/DeveloperCAP/SCAT/wiki/Pytest-Tutorial)

**Definition of Done**
- [x] Project builds without errors
- [x] Integration tests written and passing
- [ ] Any configuration or build changes documented
- [ ] Documentation updated
- [x] Peer Code Review performed

[2018-02-09 14:45] prasadtalasila commented on #96
moved to [wiki page](https://github.com/DeveloperCAP/MLCAT/wiki/Reproduction-of-Results)

[2018-02-09 14:45] #96 closed, assigned to nobody

[2018-02-09 14:45] prasadtalasila commented on #97
moved to [wiki page](https://github.com/DeveloperCAP/MLCAT/wiki/Reproduction-of-Results)

[2018-02-09 14:45] #97 closed, assigned to nobody

[2018-02-09 14:45] prasadtalasila commented on #95
moved to [wiki page](https://github.com/DeveloperCAP/MLCAT/wiki/Reproduction-of-Results)

[2018-02-09 14:45] #95 closed, assigned to nobody

[2018-02-09 14:47] prasadtalasila commented on #45
Not a priority right now.

[2018-02-09 14:47] #45 closed, assigned to nobody

[2018-02-10 00:44] prasadtalasila commented on #52
Progress on testing would be tracked through creation of smaller issues.

[2018-02-10 00:44] #52 closed, assigned to nobody

[2018-02-10 00:50] prasadtalasila commented on #31
Not a priority now.

[2018-02-10 00:50] #31 closed, assigned to nobody

[2018-02-10 00:52] prasadtalasila commented on #33
Not a priority now.

[2018-02-10 00:52] #33 closed, assigned to nobody

[2018-02-10 00:53] prasadtalasila commented on #15
Not a priority now.

[2018-02-10 00:53] #15 closed, assigned to achyudh

[2018-02-10 00:56] prasadtalasila commented on #91
A good tutorial on different config options is [here](https://martin-thoma.com/configuration-files-in-python/)

[2018-02-17 17:31] hrishikesh-dahiya opened #152 "[Test] Integration Tests for lib/analysis/author/"
**Description**
- [x] community.py
- [ ] ranking.py
- [x] edge_list.py
- [x] time_statistics.py
- [x] wh_table.py
- [x] curve_fitting.py

In graph/
- [x] bipartite.py
- [x] generate.py
- [x] interaction.py

[2018-02-17 17:44] hrishikesh-dahiya opened #154 "[Test] Integration Tests for lib/analysis/thread/"
**Description**
- [ ] hypergraph.py
- [ ] message_activity.py
- [ ] ps_table.py
- [ ] time_statistics.py
- [ ] wh_table.py

In graph/
- [ ] edge_list.py
- [ ] generate.py

[2018-02-17 17:48] hrishikesh-dahiya opened #155 "[Test] Integration Tests for lib/input/"
**Description**
- [x] check_headers.py
- [x] data_cleanup.py
- [ ] ps_table.py

In mbox/
- [ ] keyword_clustering.py
- [ ] keyword_digest.py
- [ ] mbox_hdr.py

In imap/
- [ ] connection.py
- [ ] header.py

[2018-03-01 13:09] hrishikesh-dahiya commented on #147
PR #159 solves this

[2018-03-01 13:09] #147 closed, assigned to tejalwakchoure

[2018-03-18 20:08] prasadtalasila opened #163 "Correct the functional test script"
**Description**
In the [pytest.sh](https://github.com/DeveloperCAP/MLCAT/blob/development/etc/pytest.sh), the shell script needs to have `set -ex` between lines 2 and 3. Without the `set -ex` option, the travis build succeeds even if the pytest (line-14) command fails.

For an example, please see [a build log](https://travis-ci.org/DeveloperCAP/MLCAT/jobs/355098374#L570). Even with a failed test,

[2018-03-20 07:38] hrishikesh-dahiya commented on #163
#165 fixes it

[2018-03-20 07:38] #163 closed, assigned to hrishikesh-dahiya

[2018-03-28 06:35] prasadtalasila commented on #155
@tejalwakchoure you can work on the check_header.py module.

[2018-04-08 11:08] prasadtalasila commented on #91
@AakankshaSanctis
The pending work on this issue is:
1. Sphinx documentation for [config.py](https://github.com/DeveloperCAP/MLCAT/blob/development/lib/mlcatconfig/config.py)
1. Improve test coverage / remove redundant tests in [test_config.py](https://github.com/DeveloperCAP/MLCAT/blob/development/test/unit/lib/config/test_config.py)
1. Clean up the code coverage for config.py

[2018-04-12 09:06] prasadtalasila commented on #143
layout.py shall not be tested. The only pending work is PR #170.

[2018-04-12 09:46] prasadtalasila commented on #155
Add a class structure for check_headers.py module.

[2018-04-14 10:13] tejalwakchoure opened #177 "[Test] Integration testing in lib/input/check_headers.py"
**Description**
Solving the issues regarding code coverage due to patching in check_headers.py

**Definition of Done**
- [ ] Project builds without errors
- [ ] Unit tests written and passing
- [ ] Any configuration or build changes documented
- [ ] Documentation updated
- [ ] Peer Code Review performed

[2018-04-17 13:20] hrishikesh-dahiya commented on #141
#178 solve this

[2018-04-17 13:20] #141 closed, assigned to nobody

[2018-04-17 13:21] #143 closed, assigned to tejalwakchoure

[2018-04-17 21:46] prasadtalasila commented on #91
Not a priority right now.

[2018-04-17 21:46] #91 closed, assigned to nobody

[2018-04-26 10:07] #152 closed, assigned to hrishikesh-dahiya

[2018-04-26 10:11] hrishikesh-dahiya commented on #177
#180  solves this

[2018-04-26 10:11] #177 closed, assigned to nobody